/*Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 70%;
  margin: 50px 15%;
}

img {
  width: 400px;
  height: 600px;
}

.card {
  width: 400px;
  height: 660px;
  margin-right: 15px;
  margin-bottom: 80px;
  display: inline-block;
  position: relative;
}

.heart {
  position: absolute;
  z-index: 4;
  font-size: x-large;
  text-align: center;
  padding-top: 4px;
  background-color: white;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 0px;
}

.heart:hover {
  color: #eb0037;
  cursor: pointer;
}

.info {
  position: absolute;
  display: inline-block;
  bottom: 0;
}

.brand {
  font-weight: normal;
}

.model {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
}

.price {
  color: #eb0037;
  font-weight: bold;
}

.original-price {
  color: black;
  font-weight: normal;
  text-decoration: line-through;
}

.card > img {
  position: absolute;
}

.front {
  z-index: 2;
}

.flip {
  z-index: 1;
}

.card:hover .flip {
  z-index: 3;
}

.red-label {
  position: absolute;
  z-index: 4;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding-top: 3px;
  width: 40px;
  height: 26px;
  bottom: 70px;
  left: 0px;
  background-color: #eb0037;
}

.green-label {
  position: relative;
  z-index: 4;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  bottom: 21px;
  left: 43px;
  padding-top: 3px;
  padding-right: 1px;
  width: 91px;
  height: 26px;

  background-color: #00875a;
}

.eco {
  position: absolute;
  z-index: 4;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  bottom: 70px;
  left: 0px;
  padding-top: 3px;
  padding-right: 1px;
  width: 91px;
  height: 26px;

  background-color: #00875a;
}
